html{
  scroll-behavior: smooth;
}
body{
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
  }
  @media screen and (max-width:767px){
    .header__menu__pc{display: none;}
  }
  
  header{
    /* background: #159957;  fallback for old browsers */
    background: -webkit-linear-gradient(to right, #159957, #155799);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #159957, #155799); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    display: flex;
    flex-direction: row;
    
    
    /* ポジションの基準化 */
    position: relative;
    /* ヘッダー固定化 */
    position: fixed;
    width: 100%;
    height: 60px;
    /* 上の空白問題解消 */
    top: 0;
    
  }
  .header__title {
    /* vertical-align: middle; */
    display: inline-block;
    
    /* padding-left: 5%; */
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%) translateX(-50%);
    /* -webkit- transform: translateY(-50%) translateX(-50%); */
   }
 
  .header__menu{
    position: absolute;
    right: 0.5%;
    display: flex;
    flex-direction: row;
  }
  .header__menu ul{
    /* liの横並び */
    display: flex;
    /* position: absolute; */
  }
  .header__menu li{
    margin-left: 5%;
    list-style: none;
  }
  .header__menu a{
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  #input{
    display: none;
  }
  .line{
    width: 40px;
    height: 2px;
    background-color: white;
    margin: 6px;
  }
  @media screen and (max-width:767px){
    .header__menu__pc{display: none;}
  }
  
  /* ーーーーーここからMAINーーーーー */
  /* ーーーーーここからMAINーーーーー */
  /* ーーーーーここからMAINーーーーー */
  /* ーーーーーここからMAINーーーーー */
  /* ーーーーーここからMAINーーーーー */
  
  main{
    margin-top: 60px;
    margin-left: 0%;
    margin-right: 0%;
    /* スマホのレスポンシブ対応 */
    overflow: hidden;
    
  }
  
  .section__top{
    background: #159957;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #159957, #155799);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #159957, #155799); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* background-image: url(assets/pptop.png); */
    /* background-size: cover; */
    height: 30%;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%; 
    /* margin: 0 auto; */
    /* margin-left: 0px; */
  }
  .section__top__logo{
    text-align: center;
  }
  .section__top__text{
    text-align: center;
    color: white;
  }



  .section__about{
    background-color: #424242;
    /* background-image: url(assets/aboutwall.png); */
    /* background-size: cover; */
    height: 400px;
    /* max-width: 100%; */
    padding-bottom: 10%;
    padding-top: 10%;
  }
  .section__about__text {
    text-align: center;
    color: white;
  }
  .section__about__text p{
    font-size: 90%;
  }
  .section__activity{
    /* background-color: #00796b; */
    background: #159957;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 30%;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .section__activity__articles{
    
    text-align: center;
  }
  .section__activity__articles__each{
    display: inline-block;
   
    width: 300px;
    height: 280px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    
    
  }
  iframe  {
    width: 300px;
    height: 280px;
  
    }
  .section__joinus{
    background-color: #e0e0e0;
    text-align: center;
    display: flex;  
    /* display: inline-block; */
    height: 80;
  }
  .section__joinus__message{
    background-color: #00796b;
    
    font-size: 20%;
    color: white;
    text-align: left;
    width: 200px;
    height: 80%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .section__joinus__campusinfo{
    display: flex;
  }
  .section__joinus__aoyama{
    background-color: #00796b;
    margin-left: auto;
    margin-right: auto;
    color: white;
    height: 40%;
    width: 200px;
    margin-top: 10%;
    font-size: 20%;
    padding-left: 10%, 10%, 10%, 10%;
  }
  .section__joinus__sagamihara{
    background-color: #00796b;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    height: 40%;
    width: 200px;
    margin-top: 20%;
  }
  
  .section__contact{
    /* background-color: #00796b; */
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f9b0f, #00796b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f9b0f, #00796b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
    text-align: center;
    display: flex;
    /* flex-direction: column; */
    height: 80%;
  }
 .section__contact__list{
   /* margin-right: auto;
   margin-left: auto; */
   text-align: left;
 }
 .section__contact__list a{
   text-decoration: none;
   color: white;
 }
 .section__contact__form{
   margin-top: 10%;
   /* margin-right: auto;
   margin-left: auto; */
   text-align: left;
   text-align: center;
   /* height: 400px; */
 }

 @media screen and (max-width: 767px) {
  .section__contact {
    flex-direction: column;
  }
 }

 .button {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 10pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 6px 6px;   /* 余白       */
  background    : #159957;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 3px 3px 7px #666666;  /* 影の設定 */
  border        : 2px solid #159957;    /* 枠の指定 */
}
.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #159957;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}
 
  /* @media screen and (max-width: 767px) {
    .section__contact {
      flex-direction: column;
    }
   } */


  footer{
    background-color: #212121;
    padding-top: 20px;
    color: white;
  }
  /* .header__menu li{
    display: inline-block;
  } */
  /* ul > li{
    /* display: inline-block; */ 
  