@charset "UTF-8";
/*　　　共通部分
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

html {
    scroll-behavior: smooth;
    width: 100%;
    /* font-size: 16px; */
}

/* "Sawarabi Gothic" */

/* 'Open Sans', "a-otf-gothic-bbb-pr6n", */

body {
    font-family: 'Open Sans', 'a-otf-gothic-bbb-pr6n', sans-serif;
    margin: 0;
    line-height: 1.7;
    color: #ffffff;
    width: 100%;
    position: relative;
}

p {
    font-size: 1rem;
}

a {
    color: #ffffff;
}

a:hover {
    color: #e7e7e7;
}

body::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width:767px) {
    .header_menu_pc {
        display: none;
    }
}

.main {
    scroll-snap-type: y mandatory;
}

/*　　　header
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

/* .fixed-top {

} */

.navbar {
    position: fixed;
    top: 5%;
    left: 3%;
    background: none;
    font-size: 28px;
    display: -webkit-flex;
    display: flex;
    z-index: 20;
}

.nav-link {
    padding: 0;
}

.nav, .nav, .nav-item {
    display: -webkit-flex;
    display: flex;
}

.nav-item>a {
    position: relative;
    display: inline-block;
    transition: .3s;
}

.nav-item>a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 0;
    height: 1.5px;
    background-color: #fff;
    transition: .3s;
    will-change: transform;
}

.nav-item>a:hover::after {
    width: 100%;
}

.nav-pills .nav-link.active {
    background-color: transparent;
}

.nav-pills .nav-link.active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 1.5px;
    background-color: #fff;
    transition: .3s;
    will-change: transform;
}

.nav-link-top {
    font-weight: 600;
}

.logo-img {
    widows: 30px;
    height: 30px;
}

hd-logo>h1 {
    font-size: 160%;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

/*　　　button
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.button_wrapper {
    text-align: center;
}

.button {
    display: inline-block;
    border-radius: 30px;
    font-size: 16pt;
    text-align: center;
    cursor: pointer;
    padding: 5% 20%;
    background: -webkit-linear-gradient(to right, #22b573, #00a99d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #22b573, #00a99d);
    color: #ffffff;
    line-height: 1em;
    transition: .3s;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
    border: none;
}

.button:hover {
    box-shadow: none;
    /* カーソル時の影消去 */
    color: #159957;
    /* 背景色     */
    background: #ffffff;
    /* 文字色     */
}

.more-button {
    display: inline-block;
    border-radius: 30px;
    font-size: 25pt;
    text-align: center;
    cursor: pointer;
    padding: 1% 6%;
    background: -webkit-linear-gradient(to right, #22b573, #00a99d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #22b573, #00a99d);
    color: #ffffff;
    line-height: 1em;
    transition: .3s;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
    border: none;
}

.more-button:hover {
    box-shadow: none;
    color: #159957;
    background: #ffffff;
    text-decoration: none;
}

/*　　　footer
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

footer {
    background-color: #191919;
    text-align: center;
    height: 10vh;
    color: white;
}

footer p {
    line-height: 10vh;
    margin: 0;
}

/*　　　共通
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.sub-heading {
    display: inline-block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 4rem;
    margin-bottom: 2%;
    margin-top: 0%;
    font-weight: 600;
}

.sub-heading:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -12px;
    display: inline-block;
    width: 80%;
    height: 3px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 1px;
}

.section {
    padding: 5%;
    scroll-snap-align: start;
}

.note-list {
    padding-left: 5%;
    padding-right: 5%;
}

.card {
    border: none;
}

/* note-body */

.note-conteiner {
    padding-left: 5%;
    padding-right: 5%;
}

.note-content {
    color: #191919;
}

.note-title h1 {
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 5px;
}

.note-body {
    font-size: 18px;
}

.note-body p {
    margin-top: 36px;
    margin-bottom: 36px;
}

.note-content img {
    width: 100% !important;
    height: 100% !important;
}

/*　　　Top
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

#top {
    background: #159957;
    background: -webkit-linear-gradient(to right bottom, #00944b, #0061a4);
    background: linear-gradient(to right bottom, #00944b, #0061a4);
    position: relative;
    height: 100vh;
    width: 100%;
}

.section_top__logo {
    text-align: center;
}

.section_top__logo>img {
    width: 30%;
}

.top-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}

.section_top__text {
    text-align: center;
}

.top_logo_text {
    font-weight: 600;
}

.bg-img {
    background-image: url("/static/images/bg.png");
    height: 100%;
    width: 100%;
}

.scroll {
    position: absolute;
    display: inline-block;
    height: 84px;
    bottom: 5px;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}

.scroll>a {
    padding-top: 30px;
    text-decoration: none;
}

.scroll>a>span {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

/*　　　About
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

#about {
    background-color: #191919;
    display: block;
    height: 100vh;
    width: 100%;
}

/* .bg-about-img {
    background-image: url("/static/images/bg-about.png");
    height: 100%;
    width: 100%;
} */

.about__text {
    padding-top: 1%;
    padding-right: 23%;
    font-size: 1.6rem;
    margin-left: 1.5%;
}

.display-1 {
    font-size: 7.5rem;
    font-weight: 700;
}

.about-conteinar {
    margin-top: 10%;
    margin-bottom: 2%;
}

/*　　　Activity
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

#activity {
    background: #159971;
    background: -webkit-linear-gradient(to left top, #009245, #00a794);
    background: linear-gradient(to left top, #009245, #00a794);
    height: 100vh;
}

.act__title__span {
    border-bottom: solid;
}

.note-card {
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    color: #191919;
    height: 450px;
}

.note-card:link, .note-card:visited, .note-card:active {
    color: #191919;
    text-decoration: none;
}

.note-card:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0.6;
    text-decoration: none;
    backdrop-filter: blur(3px);
}

/*　　　Join Us
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

#joinus {
    background-color: #191919;
    height: 100vh;
}

/* .bg-join-img {
    background-image: url("/static/images/bg-join.png");
    height: 100%;
    width: 100%;
} */

.activity_location {
    margin-top: 5px;
}

.activity_location>p {
    margin-bottom: 5px;
}

.how_to_join {
    margin-top: 100px;
    text-align: center;
}

.how_to_join>p {
    margin: 0;
}

/*　　　Contact
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

#contact {
    background: -webkit-linear-gradient(to right bottom, #009245, #00a794);
    background: linear-gradient(to right bottom, #009245, #00a794);
    height: 90vh;
}

.contact-body {
    padding: 5%;
}

.contact-body h1 {
    font-weight: 600;
}

.note-bg {
    position: relative;
    height: 100%;
    width: 100%;
    background: #159971;
    background: -webkit-linear-gradient(to left top, #009245, #00a794);
    background: linear-gradient(to left top, #009245, #00a794);
    padding-left: 9%;
    padding-right: 9%;
}

.form-group>input {
    height: 30px;
}

/* note */

.note-list-heading {
    display: inline-block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 4rem;
    margin-bottom: 2%;
    margin-top: 1%;
    font-weight: 600;
    color: #fff;
}

.note-list-heading:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -12px;
    display: inline-block;
    width: 120px;
    height: 3px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 1px;
}

.note-body a {
    color: #191919;
    text-decoration: underline;
}

.bg-bk {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    z-index: 10;
}

.blur {
    filter: blur(5px);
}

.c-w {
    color: #fff !important;
}

.bg-w {
    background-color: #fff !important;
}

.navbar-icon-w {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}

@media screen and (max-width:575px) {
    /*　画面サイズが480px以下の場合ここの記述が適用される　*/
    p, .scroll>a {
        font-size: 0.94rem;
    }
    .scroll {
        height: 60px;
        bottom: 1%;
    }
    .display-1 {
        font-size: 3.75rem;
        font-weight: 700;
    }
    .display-3 {
        font-size: 4rem !important;
    }
    .about-conteinar {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .about_text {
        padding: 0;
        margin-top: 30px;
        margin-left: 0px;
    }
    .section_about, .section_activity, .section_joinus, .section_contact {
        height: 100% !important;
    }
    .note-list, .note-content {
        padding-top: 70px;
    }
    .note-card {
        height: 445px;
    }
    .section_top__logo>img {
        width: 50%;
    }
    .bg-img {
        background-image: url("/static/images/bg.png");
        height: 100%;
        width: 100%;
    }
    .section {
        padding-top: 15%;
        padding-bottom: 10%;
    }
    .h5 {
        font-size: 1.125rem;
    }
    h5 {
        font-size: 1.5rem;
    }
    .sub-heading {
        margin-top: 10px;
    }
    .contact-body {
        margin-top: 30px;
    }
    .section_joinus_aoyama, .section_joinus_sagamihara {
        margin-top: 15px;
    }
    .small {
        font-size: 0.75rem;
    }
    .navbar {
        top: 1%;
        left: 0%;
    }
    .navbar-toggler {
        border: none;
    }
    .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        height: 40px !important;
        width: 40px !important;
    }
    .join_text {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    .how_to_join {
        margin-top: 50px;
    }
    .more-button {
        font-size: 16pt;
        padding: 5% 20%;
    }
    .note-bg {
        padding-left: 5%;
        padding-right: 5%;
    }
}