@charset "UTF-8";
/*　　　共通部分
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

html {
    scroll-behavior: smooth;
    width: 100vw;
}

body {
    font-family: 'Open Sans', "Sawarabi Gothic", sans-serif;
    margin: 0;
    line-height: 1.7;
    color: #ffffff;
    width: 100%;
}

a{
    color: #ffffff;
}

a:hover{
    color: #e7e7e7;
}
body::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width:767px) {
    .header_menu_pc {
        display: none;
    }
}

.main {
    scroll-snap-type: y mandatory;

}

/*　　　header
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

header {
    /* background: #159957;  fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00944b, #0061a4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00944b, #0061a4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 7vh;
}

.logo-img {
    widows: 30px;
    height: 30px;
}

hd-logo>h1 {
    font-size: 160%;
}

.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style-type: none;
}

.main-nav li {
    margin-left: 36px;
}

.main-nav a {
    color: #fff;
}

.main-nav a:hover {
    color: #00bbdd;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

/*　　　button
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.button_wrapper {
    text-align: center;
}

.button {
    display: inline-block;
    border-radius: 30px;
    font-size: 16pt;
    text-align: center;
    cursor: pointer;
    padding: 14px 84px;
    background: -webkit-linear-gradient(to right, #22b573, #00a99d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #22b573, #00a99d);
    color: #ffffff;
    line-height: 1em;
    transition: .3s;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
    border: none;
}

.button:hover {
    box-shadow: none;
    /* カーソル時の影消去 */
    color: #159957;
    /* 背景色     */
    background: #ffffff;
    /* 文字色     */
}

.more-button {
    display: inline-block;
    border-radius: 30px;
    font-size: 25pt;
    text-align: center;
    cursor: pointer;
    padding: 20px 120px;
    background: -webkit-linear-gradient(to right, #22b573, #00a99d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #22b573, #00a99d);
    color: #ffffff;
    line-height: 1em;
    transition: .3s;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
    border: none;
}

.more-button:hover {
    box-shadow: none;
    color: #159957;
    background: #ffffff;
    text-decoration: none;
}

/*　　　footer
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

footer {
    background-color: #212121;
    text-align: center;
    padding-top: 10px;
    height: 10vh;
    color: white;
}

/*　　　共通
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.sub-heading {
    display: inline-block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 4rem;
    margin-bottom: 2%;
    margin-top: 1%;
    font-weight: 600;
}

.sub-heading:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -12px;
    display: inline-block;
    width: 120px;
    height: 3px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 1px;

}

.section {
    height: 100vh;
    padding: 5%;
    scroll-snap-align: start;
}
.note-list{
    padding-left: 5%;
    padding-right: 5%;
}
.card{
    border: none;
}

/* note */


.note-list-heading {
    display: inline-block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 4rem;
    margin-bottom: 2%;
    margin-top: 1%;
    font-weight: 600;
    color: #000;
}

.note-list-heading:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -12px;
    display: inline-block;
    width: 120px;
    height: 3px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #000;
    border-radius: 1px;

}


/* note-body */
.note-conteiner{
    padding-left: 5%;
    padding-right: 5%;

}
.note-content{
    color: #000;

}

.note-title h1{
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 50px;
}
.note-body{
    font-size: 18px;
}

.note-body p {
    margin-top: 36px;
    margin-bottom: 36px;
}

.note-content img{
    width: 100% !important;
    height: 100%  !important;
   }

/*　　　Top
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

#top {
    background: #159957;
    background: -webkit-linear-gradient(to right, #00944b, #0061a4);
    background: linear-gradient(to right, #00944b, #0061a4);
    ;
    position: relative;
}

.section__top__logo {
    text-align: center;
}

.top-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}

.section__top__text {
    text-align: center;
}

.top_logo_text {
    font-weight: 600;
}

/*　　　About
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

#about {
    background-color: #424242;
    display: block;
}

.about__text {
    padding-top: 1%;
    padding-right: 23%;
    font-size: 1rem;
}

/*　　　Activity
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

#activity {
    background: #159971;
    background: -webkit-linear-gradient(to left top, #009245, #00a794);
    background: linear-gradient(to left top, #009245, #00a794);
}

.act__title__span {
    border-bottom: solid;
}

.note-card {
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    color: #000;
    height: 450px;
}

.note-card:link, .note-card:visited, .note-card:active {
    color: #000;
    text-decoration: none;
}

.note-card:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0.6;
    text-decoration: none;
}

/*　　　Join Us
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

#joinus {
    background-color: greenyellow;
}

.section__joinus__message {
    background-color: greenyellow;
}

.section__joinus__aoyama {
    background-color: greenyellow;
}

.section__joinus__sagamihara {
    background-color: greenyellow;
}

/*　　　Contact
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

#contact {
    background: -webkit-linear-gradient(to right bottom, #009245, #00a794);
    background: linear-gradient(to right bottom, #009245, #00a794);
    height: 90vh;
}

.contact-body {
    padding: 2%;
}