<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="青山学院大学プログラミング愛好会PiedPiperの公式HPです。">
    <meta property="og:url" content="https://www.aoyama-piedpiper.com/" />
    <meta property="og:type" content="website" />   
    <meta property="og:title" content="青山学院大学プログラミング愛好会" />
    <meta property="og:description" content="青山学院大学プログラミング愛好会PiedPiperの公式HPです。" />
    <meta property="og:site_name" content="PiedPiper" />
    <meta property="og:image" content="https://www.aoyama-piedpiper.com/static/images/ogp.png" />
    <title>PiedPiper</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans:wght@400;700&display=swap"
        rel="stylesheet">
    <script>
        (function (d) {
            var config = {
                kitId: 'xae3zpm',
                scriptTimeout: 3000,
                async: true
            },
                h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
        })(document);
    </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body data-spy="scroll" data-target="#Navbar" data-offset="20">
    <nav class="navbar navbar-expand-sm">
        <!-- ヘッダーのタイトル（indexとの結び付） -->
        <!-- <a href="/" class="navbar-brand"><img class="d-inline-block align-top logo-img"
                src="/static/images/PiedPiper_logo_w.png" alt="PiedPiper"></a> -->
        <!-- ヘッダーのメニューバー -->
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar"
            aria-expanded="false" aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="Navbar" class="collapse navbar-collapse mr-3">
            <ul class="nav nav-pills flex-column ml-auto">
                {% if index %}
                <li class="nav-item"><a class="nav-link" href="#top">Top</a></li>
                <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#activity">Activity</a></li>
                <li class="nav-item"><a class="nav-link" href="#joinus">Join us</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                {%else%}
                <li class="nav-item"><a class="nav-link" href="/#top">Top</a></li>
                <li class="nav-item"><a class="nav-link" href="/#about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/#activity">Activity</a></li>
                <li class="nav-item"><a class="nav-link" href="/#joinus">Join us</a></li>
                <li class="nav-item"><a class="nav-link" href="/#contact">Contact</a></li>
                {{ style | safe }}
                {% endif %}
                <li class="nav-item">
                    <div class="nav-sns">
                        <a href="https://note.com/piedpiper_aoyama"><img src="static\images\logo\note.png"
                                alt="note"></a>
                        <a href="https://twitter.com/PiedPiper_AGU"><img src="static\images\logo\twitter.png"
                                alt="twitter"></a>
                        <a
                            href="https://www.facebook.com/%E9%9D%92%E5%B1%B1%E5%AD%A6%E9%99%A2%E5%A4%A7%E5%AD%A6PiedPiper%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0%E6%84%9B%E5%A5%BD%E4%BC%9A-1485441121587270/"><img
                                src="static\images\logo\facebook.png" alt="facebook"></a>
                        <a href="https://www.instagram.com/piedpiper_aoyama/"><img
                                src="static\images\logo\instagram.png" alt="note"></a>
                    </div>
                </li>
            </ul>
        </div>

    </nav>
    <!-- ここまでがヘッダー -->
    <div class="main" id="main">


        {% block content %}
        <!-- ここに個別部分が挿入される -->
        {% endblock %}
    </div>
    <div id="bg-bk" class="bg-n">
    </div>
    <footer>

        <p class="small">&copy;2020青山学院大学PiedPiperプログラミング愛好会</p>

    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/static/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <script type="text/javascript" src="/static/js/script.js"></script>
</body>

</html>