{% extends "base.html" %}
{% block content %}


<!-- セクション1 TOP-->

<div id="top" class="section_top ">
  <div class="bg-img section">
    <!-- セクション1 TOPのロゴ -->
    <div class="top-container">
      <div class="section_top__logo wow fadeInUp" data-wow-delay="0.3s">
        <img src="/static/images/logo_w.png" alt="logo">
      </div>
      <!-- TOPの文章 -->
      <div class="section_top_text">
        <p class="display-3 mt-4 mb-3 top_logo_text wow fadeInUp" data-wow-delay="0.8s">PiedPiper</p>
        <p class="h5 wow fadeInUp" data-wow-delay="1.1s">Aoyama Gakuin University</p>
        <p class="h5 wow fadeInUp" data-wow-delay="1.1s">Programming Society</p>
      </div>
    </div>
    <div class="scroll">
      <a href="#about"><span></span>Scroll</a>
    </div>
  </div>
</div>


<!-- セクション2-ABOUT_PIEDPIPER -->
<div id="about" class="section_about ">
  <div class="bg-about-img section">
    <div class="row ">
      <div class="about-conteinar col-12  col-lg-10 offset-lg-1">
        <div class="about_piedpier_lg wow fadeInUp" data-wow-delay="0.1s">
          <p class="display-1">P<span>ied</span></p>
          <p class="display-1">P<span>iper</span></p>
        </div>
        <div class="about_piedpier wow fadeInUp" data-wow-delay="0.1s">
          <p class="display-1">PiedPiper</p>
        </div>
        <div class="about_text wow fadeInUp" data-wow-delay="0.3s">
          <p>青山学院大学公認のプログラミング愛好会です</p>
          <p>青学生のテクノロジーへの理解を深めるために</p>
          <p>プログラミングの学習および開発を行っています</p>
        </div>
        <!-- <div class="about_imgs">
          <div class="about_imgs_span1"><img class="about_img_1 wow fadeInUp-l" src="/static/images/about_1.svg"
              alt=""><img class="about_img_2 wow fadeInUp-r" data-wow-delay="0.3s" src="/static/images/about_2.svg"
              alt="">
          </div>
          <div class="about_imgs_span2"><img class="about_img_3 wow fadeInUp-l" data-wow-delay="0.6s"
              src="/static/images/about_3.svg" alt=""><img class="about_img_4 wow fadeInUp-r" data-wow-delay="0.9s"
              src="/static/images/about_4.svg" alt=""></div>
        </div> -->
        <!-- 案2 -->
        <!-- <div class="about_imgs">
          <img class="about_img_1 wow fadeInUp-l" src="/static/images/about_1.svg" alt="">
          <img class="about_img_2 wow fadeInUp-r" data-wow-delay="0.3s" src="/static/images/about_2.svg" alt="">
          <img class="about_img_3 wow fadeInUp-l" data-wow-delay="0.6s" src="/static/images/about_3.svg" alt="">
        </div> -->

        <!-- 案3 -->
        <div class="about_imgs">
          <div class="about_imgs_span1"><img class="about_img_1 wow fadeInUp-l" src="/static/images/about_1.svg"
              alt=""><img class="about_img_2 wow fadeInUp-r" data-wow-delay="0.3s" src="/static/images/about_2.svg"
              alt="">
          </div>
          <div class="about_imgs_span2"><img class="about_img_3 wow fadeInUp-l" data-wow-delay="0.6s"
              src="/static/images/about_3.svg" alt=""></div>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- セクション3 -ACTIVITY-->
<div id="activity" class="section_activity  ">
  <div class="section">
    <h1 class="sub-heading">ACTIVITY</h1>
    <div class="note__api">
      <div class="row justify-content-center contact-body p-lg-5">
        {% for note in note_list %}
        <div class="col-12 col-md-7 col-lg-3 px-lg-3  wow fadeInUp" data-wow-delay="{{ 0.3*loop.index }}s">
          <div class="card mb-4 ">
            <a href="note/{{note['key']}}" class="note-card">
              <img class="card-img-top " src="{{note['eyecatch']}}" alt="カードの画像">
              <div class="card-body p-4 ">
                <h5 class="card-title">{{note['name']}}<br><span
                    class="small text-muted">{{note['publishAt'][0:10]}}</span></h5>
                <p class="card-text">{{note.body | truncate(90, True) }}</p>
                <!-- <br> -->
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="button_wrapper">
        <a href="/note" class="more-button">More</a>
      </div>
    </div>
  </div>
</div>


<!-- セクション4 -JOIN_US-->
<div id="joinus" class="section_joinus ">
  <div class="section bg-join-img">
    <div class="section_joinus_message ">
      <h1 class="sub-heading">JOIN US</h1>
      <div class="row justify-content-center contact-body">
        <div class="col-12 col-lg-3 join_text wow fadeInUp" data-wow-delay="0.1s">
          <p>PiedPiperは</p>
          <p>初心者歓迎のサークルです</p>
          <p>エンジニア志望の方は勿論</p>
          <p>起業・教育関係のお仕事を目指す方</p>
          <p>ものづくりが好きな方</p>
          <p>新しい時代を感じたい方など</p>
          <p>ぜひ活動にお越しください</p>
        </div>
        <div class=" col-12 col-lg-3 ">
          <div class="section_joinus_aoyama wow fadeInUp" data-wow-delay="0.3s">
            <img src="/static/images/aoyama.jpg" width="100%" alt="">
            <div class="activity_location ">
              <h5>Aoyama Campus</h5>
              <p>Every Friday</p>
              <p>18:30~21:00
            </div>

          </div>
        </div>
        <div class="col-12 col-lg-3 ">
          <div class="section_joinus_sagamihara wow fadeInUp" data-wow-delay="0.3s">
            <img src="/static/images/sagamihara.jpg" width="100%" alt="">
            <div class="activity_location">
              <h5>Sagamihara Camups</h5>
              <p> Every Monday</p>
              <p>18:00~21:00</p>
            </div>
          </div>
        </div>
      </div>

      <div class="how_to_join wow fadeInUp" data-wow-delay="0.6s">
        <!-- <a href="https://lin.ee/gfGod6A"><img src="static\images\logo\line.png" alt="友だち追加" height="60"></a>
        <a href="https://twitter.com/PiedPiper_AGU"><img src="static\images\logo\twitter_blue.png" height="60"
            alt="twitter"></a> -->
        <a href="https://lin.ee/gfGod6A"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/en.png"
            alt="Add friend" height="60" border="0"></a>
        <a href="https://twitter.com/PiedPiper_AGU" class="twitter_btn">
          <img src="static\images\twtter_btn2.png" alt="@PiedPiper_AGU" height="60"></a>
        <p>PiedPiper公式LINE、TwitterのDMにて受け付けております。</p>
      </div>
    </div>
  </div>

</div>


<!-- セクション5-CONTACT -->
<div id="contact" class="section_contact section">
  <h1 class="sub-heading">CONTACT</h1>
  <div class="row justify-content-center contact-body">
    <div class="col-12 col-lg-3 text-left mb-4">
      <h1>PiedPiper</h1>
      <p>Aoyama Gakuin University<br>
        Programming Society</p>
      <p>piedpiper.aoyama@gmail.com</p>
      <!-- <p><a href="https://twitter.com/PiedPiper_AGU">Twitter</a></p>
      <p><a href="https://note.com/piedpiper_aoyama/n/ne40b6a301258">Note</a></p>
      <p><a href="https://lin.ee/gfGod6A">LINE</a></p> -->
      <!-- <p><a href="#">Instagram</a></p> -->
      <!-- <p><a href="#">Facebook</a></p> -->

      <div class="sns">
        <p>FOLLOW US</p>
        <a href="https://note.com/piedpiper_aoyama"><img src="static\images\logo\note.png" alt="note"></a>
        <a href="https://twitter.com/PiedPiper_AGU"><img src="static\images\logo\twitter.png" alt="twitter"></a>
        <a href="https://note.com/piedpiper_aoyama"><img src="static\images\logo\facebook.png" alt="note"></a>
        <a href="https://www.instagram.com/piedpiper_aoyama/"><img src="static\images\logo\instagram.png"
            alt="note"></a>
      </div>

    </div>

    <div class="section_contact__form col-12 col-lg-3 offset-lg-2">
      <script type="text/javascript">var submitted = false;</script>
      <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
        onload='if(submitted){window.location="/";}'></iframe>
      <form
        action="https://docs.google.com/forms/u/2/d/e/1FAIpQLSffnJlsRa-jdGyiuXWFq5E7eIynA_UZtju5xI4ZD5nBPQS1dQ/formResponse"
        method="post" target="hidden_iframe" onsubmit="submitted=true;">
        <div class="form-group">
          <input class="form-control" type="text" name="entry.1643010595" placeholder="Your Name" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="email" name="entry.107522928" placeholder="Email Address" required>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="entry.890021410" rows="7" placeholder="Message" required></textarea>
        </div>
        <div class="button_wrapper">
          <input type="submit" value="SEND" class="button">
        </div>
      </form>


    </div>
  </div>
</div>


{% endblock %}